<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-xnsfTB5OF_54xU-G0rpi5HBqf0eIzZg</string>
	<key>GCM_SENDER_ID</key>
	<string>131886292417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mini.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>edu-hub-b9813</string>
	<key>STORAGE_BUCKET</key>
	<string>edu-hub-b9813.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131886292417:ios:e8a4ea22576295dc5e6340</string>
</dict>
</plist>